<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
     <add key="gitlab" value="https://git.polet-it.ru/api/v4/projects/86/packages/nuget/index.json" />
 </packageSources>
 <packageSourceCredentials>
     <gitlab>
         <add key="Username" value="loyalty" />
         <add key="ClearTextPassword" value="Ys9XP5Bmk7uP2psx2vcg" />
     </gitlab>
 </packageSourceCredentials>
</configuration>
